@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,600;1,500;1,600&family=Lato:ital,wght@0,400;1,100;1,300&family=Montserrat:ital,wght@0,300;0,400;1,200;1,300&family=Roboto:ital,wght@0,400;1,300;1,400&family=Source+Sans+Pro:ital,wght@0,200;0,300;1,200&family=Ubuntu+Mono:ital,wght@1,400;1,700&family=Ubuntu:ital,wght@0,700;1,700&display=swap');
:root{
        --karla: 'Karla', sans-serif;
        --lato: 'Lato', sans-serif;
        --monster: 'Montserrat', sans-serif;
        --roboto: 'Roboto', sans-serif;
        --sanspro: 'Source Sans Pro', sans-serif;
        --ubuntu: 'Ubuntu', sans-serif;
        --mono: 'Ubuntu Mono', monospace;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    font-family: var(--karlo);
}
img{
    width: 100%;
    height: 100%;
    display: x;
}
html{
    scroll-behavior: smooth;
}
body{
    line-height: 1.4;
}

.container{
    max-width: 70%;
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url(/img/header-background.jpg);
    background-size: cover;
}

.navigation{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content:center;
    align-items: center;
    z-index: 1;
}

.navigation a{
    color: rgb(206,67,24);
    font-size: 1.2rem;
    margin-left: 18px;
    margin-right: 18px;
    letter-spacing: 1px;
    transition: all 0.5s linear;
    text-decoration: none;
}
.navigation i{
    color: white;
    margin-left: 20px;
}

.navigation a:focus, a:hover{
    color: white; 
}

.banner{
    position: absolute;
    margin-top: 15%;
    width: 70%;
}
.banner h1{
    text-align: center;
    color: #fff;
    font-family: var(--ubuntu);
    font-size: 5rem;
    letter-spacing: 2px;
}

.banner{
    position: absolute;
    margin-top: 12%;
    width: 70%;
}
.banner h1{
    text-align: center;
    color: #fff;
    font-family: var(--ubuntu);
    font-size: 5rem;
    letter-spacing: 2px;
}
.banner p{
    color: #fff;
    opacity: 0.6;
    font-family: var(--mono);
    font-size: 1.3rem;
    width: 60%;
    margin-left: 20%;
    text-align: center;

    border-bottom: 1px solid rgb(137, 137, 137);
    padding-bottom: 0.5rem;
}
.banner p span{
    color:  rgb(206, 67, 24);
    opacity: 1;
}
.banner p a{
    color:  rgb(121, 100, 100);
    color: #fff;
    opacity: 0.6;
    font-family: var(--mono);
    font-size: 1.3rem;
    width: 60%;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid rgb(137, 137, 137);
    padding-bottom: rem;
}
.banner p span{
    color:  rgb(206, 67, 24);
    opacity: 1;
}
.banner p a{
    color:  rgb(150, 93, 76);
}

.banner p a:hover, a:focus{
    color: rgb(206, 67, 24) ;
    transition: 0.5s;
}

.social__media{
    color: #fff;
    font-size: 50px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin-top: 420px;
}
.social__media i{
    margin-left: 5px;
    margin-right: 5px;
}

.banner h1:hover{
    color:rgb(206, 67, 24);
    transition: 1s;
}
.social__media i:hover{
    color: blue;
}

.s__media{
    position: absolute;
    margin-top:4%;
    margin-left: 33%;
    color:black;
    font-size: 1.3rem;
    border: 1px solid white;
    padding: 5px;
    border-radius: 100%;
    background-color: #fff;
}
.section{
    width: 100%;
    height: 600px;
    padding: 4.8rem;
    background-color: rgb(52, 47, 47);
}
/* 2 bolim */
.about{
    width: 100%;
    padding: 4.8rem 0;
    background-color: #2b2b2b;
}
.about__content{
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 2.6rem;
}
.about__item img{
    border-radius: 100%;
    width: 150px;
}
.about__item .title{
    color: rgb(73, 73, 73);
    text-align: left;
    margin-bottom: 1rem;
}
.about__item .title h2{
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
}
.about__item .title p{
    letter-spacing: 1px;
    line-height: 1.4;
    width: 85%; 
}
.about__d{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.detal__item h2{
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;}
    .detal__item p{
        color: rgb(73, 73, 73);
        text-align: left;
        margin-bottom: 1rem;
    }
.detal__item1 buttun{
    margin-top: 2rem;
    padding:1rem 0.5rem;
    background-color: #4444;
}    
.resume{
    width: 100%;
    padding: 4.8rem;
}
.resume__content{
    display: grid;
    grid-template-columns: 20% 80%;
    border-bottom: 1px solid rgb(149, 149, 149);
    margin-bottom: 3rem;
}
.resume__item h2{
    width: 60%;
    border-bottom: 6px solid rgb(244, 31, 184);
}
.resume__item .title h2{
    border: 0;
    margin-bottom: 1rem;
}

.resume__item .title{
    margin-bottom: 1.21rem;
}
.resume__item .title i{
    color: darkgray;
}
.resume__item .title  p{
    margin-top: 1rem;
    color: darkgrey;
}

.work{
    width: 100%;
    padding: 4.8rem;
    background-color: whitesmoke;
}
.work .title h2{
    text-align: center;
    color: rgb(218, 217, 217);
    margin-bottom: 3rem;
}
.work .title h2:hover{
    color: black;
    transition: 1s;
}
.work__content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2.8rem;
}
.work__item{
    cursor: pointer;
}
.work__img{
    position: relative;
}
.work__img .add__hover{
     opacity: 0;  
     position: absolute;
     top: 0;
     left: 0;
}
 .work__img:hover .add__hover{
    width: 100%;
    height: 96%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
}
.work__img .add__hover p{
    position: absolute;
    top: 10px;
    left: 15px;
    color: white;
}
.work__img .add__hover span{
    position: absolute;  
    top: 30px;
    left: 13px;
    color:wheat;
    font-size: 1.3rem;
}
.unde{
    width: 100%;
    padding: 2.4rem;
    background-color: rgb(53, 52, 52);
}
.unde__content{
    
    display: grid;
    grid-template-columns: 10% 90%;
    gap: 2.8rem;
}
.unde h2{
    color: #fff;
    font-size:28px;
    margin-bottom: 0.3rem;
}
.unde p{
    color: rgb(114, 114, 114);
    letter-spacing: 1px;
    width: 80%;
}
.unde .fa-earth-oceania{
    font-size: 5rem;
    color: rgb(96, 97, 99);
}
.navigation .fa-bars{
    color: wheat;
}
.lorem{
    width: 100%;
    padding: 4.8rem;
    background-image: url(img/testimonials-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.lorem__contact{
    display: grid;
    grid-template-columns: 10% 90%;
}
.lorem__item .fa-quote-left{
    font-size: 6rem;
    color: rgb(255, 255, 255);
}
.lorem__item p{
    color: #fff;
    font-size: 1rem;
    width: 100%;
}
.footer{
    width: 100%;
    padding: 4.8rem;
    background-color: dimgray;
}
.footer__media{
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;
    color: #fff;
}
.footer p{
    text-align: center;
}
.navigation .fa-bars{
    color: white;
    display: none;
}

.contact{
    width: 100%;
    padding: 4.8rem;
    background-color: rgba(46, 45, 45);
}
.contact .title{
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 3rem;
}
.contact .title .fa-envelope{
    font-size: 3rem;
    color: white;
}
.contact .title p{
    color: rgba(99, 97, 94);
    font-size: 1.3rem;
    font-family: var(--lato);
}
.contact__content{
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 3rem;
}
.contact__item{
    display: grid;
    grid-template-columns: 32% 68%;
    gap: 1rem;
}

.contact h3{
    color:white;
}
.contact__item input{
    width: 80%;
    height: 45%;
    background-color:gray;
}
.contact__item input:focus{
    background-color: aqua;
    transform: 1s;
    color:green;
    font-size: 19px;
    outline: none;
}
.contact__item input textarea{
    width:80%;
    height: 20vh;
    outline: none;
    background-color: dimgray;
}
.contact__item input[type='submit']{
    width: 35%;
    height: 5vh;
}
.contact__item2 h2{
    color: #fff;
    font-family:var(--ubuntu);
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.contact__item2 p{
    color:dimgray ;
    width: 100%;
}